.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 96px 24px;
}

.wrapper h3 {
  font-size: 48px;
  color: #980d08;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

.wrapper span {
  color: #707276;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.container {
  max-width: 1512px;
  width: 100%;
  display: grid;
  row-gap: 60px;
  column-gap: 24px;

  align-content: center;

  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 810px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 810px) and (max-width: 1023px) {
  .wrapper h3 {
    font-size: 32px;
  }
}

@media (max-width: 809px) {
  .wrapper h3 {
    font-size: 32px;
    line-height: 36px;
  }

  .container {
    row-gap: 16px;
  }
  .wrapper span {
    font-size: 14px;
    line-height: 20px;
  }

  .wrapper {
    padding: 40px 24px;
  }
}
