.wrapper {
  padding: 100px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.wrapper h3 {
  font-size: 48px;
  color: #980d08;
  font-weight: 700;
  line-height: 52px;
}

.contactSection {
  max-width: 1512px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.map {
  max-width: 1512px;
  width: 100%;
  height: 795px;
}

@media (min-width: 810px) and (max-width: 1023px) {
  .wrapper h3 {
    font-size: 32px;
    line-height: 52px;
  }
}

@media (max-width: 809px) {
  .wrapper h3 {
    font-size: 24px;
    line-height: 44px;
  }
  .wrapper {
    padding: 48px 24px;
  }

  .map {
    height: 400px;
  }
}
