.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.wrapper h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  color: #980d08;
  text-align: center;
}

.container > p {
  color: #5c6574;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
}

.testemonialSection {
  position: relative;
  overflow: hidden;
}

.testemonialsWrapper {
  width: 100%;
  overflow: hidden;
  padding: 12px;
}

.testemonials {
  display: flex;
  gap: 16px;
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 810px) and (max-width: 1023px) {
  .wrapper h3 {
    font-size: 32px;
  }
}

@media (max-width: 809px) {
  .wrapper h3 {
    font-size: 24px;
    line-height: 40px;
  }

  .container > p {
    font-size: 14px;
    line-height: 20px;
  }

  .wrapper {
    gap: 12px;
  }
}
