.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 1512px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.aboutUs {
  width: 100%;
  display: flex;
  justify-content: center;
}