.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  width: fit-content;
}

.wrapper span {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  line-height: 48px;
}

.wrapper p {
  color: #e2996a;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: 810px) and (max-width: 1023px) {
}

@media (max-width: 809px) {
  .wrapper span {
    font-size: 20px;
  }

  .wrapper p {
    font-size: 14px;
  }
  .wrapper p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
