.wrapper {
  width: 100%;
  background-color: #190000;
  padding: 64px 24px;
  display: flex;
  justify-content: center;
}

.wrapperContainer {
  max-width: 1512px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 400px;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.contact p {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
}

.contact span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}

.socials span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 24px;
  flex: 1;
}

.socials a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
}

.socials p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.details {
  display: flex;
  justify-content: space-between;
  max-width: 874px;
  width: 100%;
}

@media (min-width: 810px) and (max-width: 1023px) {
  .wrapperContainer {
    flex-direction: column;
    gap: 48px;
  }
}

@media (max-width: 809px) {
  .wrapperContainer {
    flex-direction: column;
    gap: 48px;
  }
  .details {
    flex-direction: column;
    
    gap: 24px;
  }
}
