.container {
  display: grid;
  row-gap: 60px;
  column-gap: 24px;

  align-content: center;

  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 810px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 44px 24px 100px 24px;
}

.contentWrapper {
  max-width: 1512px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.main {
  color: #5d646f;
  font-size: 16px;
  font-weight: 400;
}

.cobbler {
  color: #11141a;
  font-size: 16px;
  font-weight: 700;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.title span {
  color: black;
  font-weight: 700;
}

@media (max-width: 810px) {
  .container {
    row-gap: 16px;
  }
}
